In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [96]:
path_recipe = 'RAW_recipes.csv'
path_interaction = 'RAW_interactions.csv'

data_recipe = pd.read_csv(path_recipe)
data_interaction = pd.read_csv(path_interaction)

In [97]:
data_recipe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [98]:
data_recipe.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [99]:
data_interaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [100]:
data_interaction.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [7]:
data_recipe = data_recipe.drop(['contributor_id', 'steps'], axis=1)

In [8]:
data_recipe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           231636 non-null  object
 1   id             231637 non-null  int64
 2   minutes        231637 non-null  int64
 3   submitted      231637 non-null  object
 4   tags           231637 non-null  object
 5   nutrition      231637 non-null  object
 6   n_steps        231637 non-null  int64
 7   description    226658 non-null  object
 8   ingredients    231637 non-null  object
 9   n_ingredients  231637 non-null  int64
dtypes: int64(4), object(6)
memory usage: 17.7+ MB

In [9]:
data_recipe.rename(columns={'id': 'recipe_id'}, inplace=True)

In [10]:
data_recipe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           231636 non-null  object
 1   recipe_id      231637 non-null  int64
 2   minutes        231637 non-null  int64
 3   submitted      231637 non-null  object
 4   tags           231637 non-null  object
 5   nutrition      231637 non-null  object
 6   n_steps        231637 non-null  int64
 7   description    226658 non-null  object
 8   ingredients    231637 non-null  object
 9   n_ingredients  231637 non-null  int64
dtypes: int64(4), object(6)
memory usage: 17.7+ MB

In [11]:
data_interaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [12]:
data = pd.merge(data_interaction, data_recipe, on="recipe_id", how="left")

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   user_id        1132367 non-null  int64
 1   recipe_id      1132367 non-null  int64
 2   date           1132367 non-null  object
 3   rating         1132367 non-null  int64
 4   review         1132198 non-null  object
 5   name           1132366 non-null  object
 6   minutes        1132367 non-null  int64
 7   submitted      1132367 non-null  object
 8   tags           1132367 non-null  object
 9   nutrition      1132367 non-null  object
 10  n_steps        1132367 non-null  int64
 11  description    1108857 non-null  object
 12  ingredients    1132367 non-null  object
 13  n_ingredients  1132367 non-null  int64
dtypes: int64(6), object(8)
memory usage: 129.6+ MB

In [14]:
data.rename(columns={'date':'review_date', 'submitted': 'recipe_date'}, inplace=True)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   user_id        1132367 non-null  int64
 1   recipe_id      1132367 non-null  int64
 2   review_date    1132367 non-null  object
 3   rating         1132367 non-null  int64
 4   review         1132198 non-null  object
 5   name           1132366 non-null  object
 6   minutes        1132367 non-null  int64
 7   recipe_date    1132367 non-null  object
 8   tags           1132367 non-null  object
 9   nutrition      1132367 non-null  object
 10  n_steps        1132367 non-null  int64
 11  description    1108857 non-null  object
 12  ingredients    1132367 non-null  object
 13  n_ingredients  1132367 non-null  int64
dtypes: int64(6), object(8)
memory usage: 129.6+ MB

In [16]:
data[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']] = data.nutrition.str.split(",",expand=True)

In [17]:
data['calories'] =  data['calories'].apply(lambda x: x.replace('[',''))

In [18]:
data['carbohydrates (PDV)'] =  data['carbohydrates (PDV)'].apply(lambda x: x.replace(']',''))

In [19]:
data[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']] = data[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']].astype('float')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 21 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132367 non-null  int64
 1   recipe_id            1132367 non-null  int64
 2   review_date          1132367 non-null  object
 3   rating               1132367 non-null  int64
 4   review               1132198 non-null  object
 5   name                 1132366 non-null  object
 6   minutes              1132367 non-null  int64
 7   recipe_date          1132367 non-null  object
 8   tags                 1132367 non-null  object
 9   nutrition            1132367 non-null  object
 10  n_steps              1132367 non-null  int64
 11  description          1108857 non-null  object
 12  ingredients          1132367 non-null  object
 13  n_ingredients        1132367 non-null  int64
 14  calories             1132367 non-null  float64
 15  total fat (PDV)      1132367 non-null  float64
 16  sugar (PDV)          1132367 non-null  float64
 17  sodium (PDV)         1132367 non-null  float64
 18  protein (PDV)        1132367 non-null  float64
 19  saturated fat (PDV)  1132367 non-null  float64
 20  carbohydrates (PDV)  1132367 non-null  float64
dtypes: float64(7), int64(6), object(8)
memory usage: 190.1+ MB

In [21]:
data.drop(['nutrition'], axis=1,inplace = True)

In [22]:
data['healthy_index'] = data['total fat (PDV)']+data['saturated fat (PDV)']

In [23]:
data.head()

,user_id,recipe_id,review_date,rating,review,name,minutes,recipe_date,tags,n_steps,...,ingredients,n_ingredients,calories,total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV),healthy_index
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...,white bean green chile pepper soup,495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,...,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,7.0
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall...",white bean green chile pepper soup,495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,...,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,7.0
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...,devilicious cookie cake delights,20,2002-10-27,"['30-minutes-or-less', 'time-to-make', 'course...",5,...,"[""devil's food cake mix"", 'vegetable oil', 'eg...",4,132.3,11.0,39.0,5.0,4.0,11.0,5.0,22.0
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...,baked potato toppings,10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,643.0
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin...",baked potato toppings,10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,643.0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 21 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132367 non-null  int64
 1   recipe_id            1132367 non-null  int64
 2   review_date          1132367 non-null  object
 3   rating               1132367 non-null  int64
 4   review               1132198 non-null  object
 5   name                 1132366 non-null  object
 6   minutes              1132367 non-null  int64
 7   recipe_date          1132367 non-null  object
 8   tags                 1132367 non-null  object
 9   n_steps              1132367 non-null  int64
 10  description          1108857 non-null  object
 11  ingredients          1132367 non-null  object
 12  n_ingredients        1132367 non-null  int64
 13  calories             1132367 non-null  float64
 14  total fat (PDV)      1132367 non-null  float64
 15  sugar (PDV)          1132367 non-null  float64
 16  sodium (PDV)         1132367 non-null  float64
 17  protein (PDV)        1132367 non-null  float64
 18  saturated fat (PDV)  1132367 non-null  float64
 19  carbohydrates (PDV)  1132367 non-null  float64
 20  healthy_index        1132367 non-null  float64
dtypes: float64(8), int64(6), object(7)
memory usage: 190.1+ MB

In [25]:
data['review_date'] = pd.to_datetime(data['review_date'], format='%Y-%m-%d')

In [26]:
data['recipe_date'] = pd.to_datetime(data['recipe_date'], format='%Y-%m-%d')

In [27]:
data.loc[(data['saturated fat (PDV)']>50) | (data['sugar (PDV)']>50), 'healthy_index'] = 0 
data.loc[(data['saturated fat (PDV)']<=50) & (data['sugar (PDV)']<=50), 'healthy_index'] = 1

In [28]:
data.head()

,user_id,recipe_id,review_date,rating,review,name,minutes,recipe_date,tags,n_steps,...,ingredients,n_ingredients,calories,total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV),healthy_index
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...,white bean green chile pepper soup,495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,...,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,1.0
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall...",white bean green chile pepper soup,495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,...,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,1.0
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...,devilicious cookie cake delights,20,2002-10-27,"['30-minutes-or-less', 'time-to-make', 'course...",5,...,"[""devil's food cake mix"", 'vegetable oil', 'eg...",4,132.3,11.0,39.0,5.0,4.0,11.0,5.0,1.0
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...,baked potato toppings,10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,0.0
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin...",baked potato toppings,10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,0.0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 21 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132367 non-null  int64
 1   recipe_id            1132367 non-null  int64
 2   review_date          1132367 non-null  datetime64[ns]
 3   rating               1132367 non-null  int64
 4   review               1132198 non-null  object
 5   name                 1132366 non-null  object
 6   minutes              1132367 non-null  int64
 7   recipe_date          1132367 non-null  datetime64[ns]
 8   tags                 1132367 non-null  object
 9   n_steps              1132367 non-null  int64
 10  description          1108857 non-null  object
 11  ingredients          1132367 non-null  object
 12  n_ingredients        1132367 non-null  int64
 13  calories             1132367 non-null  float64
 14  total fat (PDV)      1132367 non-null  float64
 15  sugar (PDV)          1132367 non-null  float64
 16  sodium (PDV)         1132367 non-null  float64
 17  protein (PDV)        1132367 non-null  float64
 18  saturated fat (PDV)  1132367 non-null  float64
 19  carbohydrates (PDV)  1132367 non-null  float64
 20  healthy_index        1132367 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(6), object(5)
memory usage: 190.1+ MB

In [30]:
data.drop(['name'], axis=1,inplace = True)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132367 non-null  int64
 1   recipe_id            1132367 non-null  int64
 2   review_date          1132367 non-null  datetime64[ns]
 3   rating               1132367 non-null  int64
 4   review               1132198 non-null  object
 5   minutes              1132367 non-null  int64
 6   recipe_date          1132367 non-null  datetime64[ns]
 7   tags                 1132367 non-null  object
 8   n_steps              1132367 non-null  int64
 9   description          1108857 non-null  object
 10  ingredients          1132367 non-null  object
 11  n_ingredients        1132367 non-null  int64
 12  calories             1132367 non-null  float64
 13  total fat (PDV)      1132367 non-null  float64
 14  sugar (PDV)          1132367 non-null  float64
 15  sodium (PDV)         1132367 non-null  float64
 16  protein (PDV)        1132367 non-null  float64
 17  saturated fat (PDV)  1132367 non-null  float64
 18  carbohydrates (PDV)  1132367 non-null  float64
 19  healthy_index        1132367 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(6), object(4)
memory usage: 181.4+ MB

In [32]:
data.dropna(subset=['review'], inplace=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132198 entries, 0 to 1132366
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132198 non-null  int64
 1   recipe_id            1132198 non-null  int64
 2   review_date          1132198 non-null  datetime64[ns]
 3   rating               1132198 non-null  int64
 4   review               1132198 non-null  object
 5   minutes              1132198 non-null  int64
 6   recipe_date          1132198 non-null  datetime64[ns]
 7   tags                 1132198 non-null  object
 8   n_steps              1132198 non-null  int64
 9   description          1108689 non-null  object
 10  ingredients          1132198 non-null  object
 11  n_ingredients        1132198 non-null  int64
 12  calories             1132198 non-null  float64
 13  total fat (PDV)      1132198 non-null  float64
 14  sugar (PDV)          1132198 non-null  float64
 15  sodium (PDV)         1132198 non-null  float64
 16  protein (PDV)        1132198 non-null  float64
 17  saturated fat (PDV)  1132198 non-null  float64
 18  carbohydrates (PDV)  1132198 non-null  float64
 19  healthy_index        1132198 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(6), object(4)
memory usage: 181.4+ MB

In [34]:
new_cols = [col for col in data.columns if col != 'rating'] + ['rating']
data = data[new_cols]

In [35]:
data.head()

,user_id,recipe_id,review_date,review,minutes,recipe_date,tags,n_steps,description,ingredients,n_ingredients,calories,total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV),healthy_index,rating
0,38094,40893,2003-02-17,Great with a salad. Cooked on top of stove for...,495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,1.0,4
1,1293707,40893,2011-12-21,"So simple, so delicious! Great for chilly fall...",495,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...",4,easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9,204.8,5.0,9.0,26.0,24.0,2.0,10.0,1.0,5
2,8937,44394,2002-12-01,This worked very well and is EASY. I used not...,20,2002-10-27,"['30-minutes-or-less', 'time-to-make', 'course...",5,NaN,"[""devil's food cake mix"", 'vegetable oil', 'eg...",4,132.3,11.0,39.0,5.0,4.0,11.0,5.0,1.0,4
3,126440,85009,2010-02-27,I made the Mexican topping and took it to bunk...,10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,0.0,5
4,57222,85009,2011-10-01,"Made the cheddar bacon topping, adding a sprin...",10,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...",3,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13,2786.2,342.0,134.0,290.0,161.0,301.0,42.0,0.0,5

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132198 entries, 0 to 1132366
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1132198 non-null  int64
 1   recipe_id            1132198 non-null  int64
 2   review_date          1132198 non-null  datetime64[ns]
 3   review               1132198 non-null  object
 4   minutes              1132198 non-null  int64
 5   recipe_date          1132198 non-null  datetime64[ns]
 6   tags                 1132198 non-null  object
 7   n_steps              1132198 non-null  int64
 8   description          1108689 non-null  object
 9   ingredients          1132198 non-null  object
 10  n_ingredients        1132198 non-null  int64
 11  calories             1132198 non-null  float64
 12  total fat (PDV)      1132198 non-null  float64
 13  sugar (PDV)          1132198 non-null  float64
 14  sodium (PDV)         1132198 non-null  float64
 15  protein (PDV)        1132198 non-null  float64
 16  saturated fat (PDV)  1132198 non-null  float64
 17  carbohydrates (PDV)  1132198 non-null  float64
 18  healthy_index        1132198 non-null  float64
 19  rating               1132198 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(6), object(4)
memory usage: 181.4+ MB

In [39]:
X = data.drop(columns = ['rating']).copy()
y = data['rating']

X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)

test_size = 0.5

X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)